[2016-05-11 02:02] mikel opened #1 "When installing into an app that uses services or concerns, app fails to start"
When trying to boot with classes within `app/controllers/concerns` or `app/models/concerns` or `app/services` Wallaby fails to start with:

[code]

Changing the service from:

[code]

to

[code]

Does fix it, but you have to set this everywhere in the app. Wallaby should be able to handle these classes on usual Rails paths without further modification like the rest of Rails can.

[2016-05-13 04:39] tian-im commented on #1
Upgrade to 4.0.1 should fix it.

What it does in resources_router is that it tries to preload all the constants in `app` folder, this is because in dev environment, all classes are lazy loaded, and wallaby is relying on subclasses to make the magics.

I will yank 4.0.0 for now.

[2016-05-13 04:52] tian-im commented on #1
And BTW the class name for generate_enrollments_csv_service.rb should be `GenerateEnrollmentsCsvService` instead of `GenerateEnrollmentsCSVService` (`Csv` instead of `CSV`), I guess Rails won't load it correctly according to its naming convention.

[2016-05-13 04:56] tian-im commented on #1
Please let me know if 4.0.1 resolves your problem.

[2016-05-13 05:31] mikel commented on #1
Getting a similar issue @tian-im

[code]

The file in question is:

[code]

[2016-05-13 18:58] tian-im commented on #1
Could you try the 4.1.0? see the commit above, should solve it now.

[2016-05-13 19:16] mikel commented on #1
Awesome @tian-im, app is starting now :)

[2016-05-13 19:16] #1 closed, assigned to nobody

[2016-11-12 05:15] jpmcgrath opened #2 "Support for Devise >= v4"
Hey @tian-im. Was hoping to use this gem in a project, but cannot because of a Devise compatibility (I am using Devise 4+). Any chance there is an easy work around?

[2016-11-14 01:36] tian-im commented on #2
@jpmcgrath are you using the Devise 4+ with Rails 5? If yes, I'm planning to finish upgrading wallaby to support Rails 5 and apparently Devise 4+ in these two weeks and will keep you posted.

[2016-11-16 05:06] jpmcgrath commented on #2
Still on Rails 4.2, but using Devise4+. Will probably upgrade to Rails5 someday soonish.

[2016-11-30 01:01] tian-im commented on #2
@jpmcgrath see #3 for Rails 5 and release [4.1.5](https://github.com/reinteractive/wallaby/releases/tag/4.1.5) for Rails 4.2 with Devise 4

[2016-11-30 22:27] jpmcgrath commented on #2
Thanks @tian-im I'll give it a go tomorrow.

[2016-11-30 22:27] #2 closed, assigned to nobody

[2016-11-30 22:29] tian-im commented on #2
@jpmcgrath let me know how you'd go and feedbacks/feature requests are welcome!

[2016-12-21 23:48] tian-im commented on #2
@jpmcgrath how did you go with wallaby? everything is ok?

[2017-01-23 03:52] RianaFerreira opened #4 "database migrations fail when decorator invokes form_fields and table does not exist"
I've included a condition to check if the db table exists, so that this code is skipped when the migrations are run.
[code]

Without the above check this error is triggered when running `rails db:drop` or `rails db:migrate`

[code]

[2017-02-08 23:51] tian-im opened #9 "Add partial to support password field"

[2017-02-09 00:00] tian-im opened #12 "Using the right metadata for index/show/form partials respectively"

[2017-04-21 14:48] tian-im commented on #12
issue resolved, hence close

[2017-04-21 14:48] #12 closed, assigned to nobody

[2017-04-21 14:48] tian-im commented on #9
feature added, hence close

[2017-04-21 14:48] #9 closed, assigned to nobody

[2017-04-21 14:49] tian-im commented on #4
@RianaFerreira let me know if the new release fix it for you :)

[2017-04-21 14:50] tian-im opened #16 "[Rails 5] Rewrite `Wallaby::Map` to use class variable instead of reading from Rails cache"
as titled

[2017-04-22 14:30] tian-im commented on #16
resolved in #17

[2017-04-22 14:30] #16 closed, assigned to nobody

[2017-04-22 14:31] tian-im opened #18 "[Rails 5] Use constant for simple text"

[2017-04-22 15:07] tian-im commented on #18
resolved in #19

[2017-04-22 15:07] #18 closed, assigned to nobody

[2017-04-25 11:55] tian-im opened #20 "Refactor sort helper"

[2017-04-25 12:08] tian-im commented on #20
code improved

[2017-04-25 12:08] #20 closed, assigned to nobody

[2018-01-03 05:40] lucascaton opened #60 "[Feature request] It'd be great if we were could customise the (admin) page title"

[2018-01-03 05:43] lucascaton opened #61 ""Create <Model>" links aren't shown as expected"
Screencast:

`Create #<Class:0x00007fe65b0243f8>`

[2018-01-03 06:40] tian-im commented on #60
you could now just override this partial to customize the page title `wallaby/resources/_title.html.erb` in `5.1.0`

[2018-01-03 06:41] tian-im commented on #61
it's fixed in `5.1.0`

[2018-01-03 06:41] #61 closed, assigned to nobody

[2018-01-03 06:42] #60 closed, assigned to nobody

[2018-01-03 06:42] #4 closed, assigned to nobody

[2018-06-12 12:08] skx opened #107 "Security: XSS Attack against "info"-hover items"
* Create a tag with the name `"><script>alert('steve');</script>`.
* Visit the tags page
  * https://wallaby-demo.herokuapp.com/admin/tags

You'll notice the tag-name is truncated - and there is an "(i)" symbol:

![1](https://user-images.githubusercontent.com/735291/41289396-46da78a2-6e52-11e8-9404-b06933c63975.jpg)

Hover over that (i) symbol:

![2](https://user-images.githubusercontent.com/73529

[2018-06-12 12:10] skx commented on #107
**NOTE**: Same thing seems to happen on product-names, etc.  Anything with the hover-"(i)" behaviour.

Also you can simplify the j/script to just `<script>alert(33);</script>`.  No need for the leading `">`.

[2018-06-12 12:48] tian-im commented on #107
Good finding! Thanks @skx will do a fix for this soon

[2018-06-12 19:30] josephfarina opened #109 "How to create custom types?"
Hello,

Wallaby looks great, but I am a bit confused by the docs:

I see this:

[code]

and I am wondering where I would put the HTML that is generated?

For example: how do you create custom inputs? Like if i wanted one main input and a couple other hidden ones that are derived from the first one using JavaScript. How would I go about doing that using wallaby?

Thanks!

[2018-06-12 22:56] tian-im commented on #109
Hey @JosephFarina,

The document [Decorator](https://github.com/reinteractive/wallaby/blob/master/docs/decorator.md) describes how to configure the type, and document [View](https://github.com/reinteractive/wallaby/blob/master/docs/view.md) has more details about how you can create custom type.

In your example, if you want to create custom inputs, you should:
1. Update the type in the decorator

[2018-06-12 23:00] tian-im commented on #107
@skx, patch is in the latest release [5.1.8](https://github.com/reinteractive/wallaby/releases/tag/5.1.8). Therefore, I'm going to close this issue now.

Please let me know if you find more security issues. Cheers

[2018-06-12 23:01] #107 closed, assigned to nobody

[2018-06-18 07:15] marcqualie opened #110 "Bootstrap 4"
I started using this then realised when creating templates it's using Bootstrap 3 and FontAwesome 4.

Are you open to upgrading these as they've been GA for >6 months now?

[2018-06-18 08:00] tian-im commented on #110
It depends on how many js libraries used in Wallaby have moved to Bootstrap 4.

However, it is possible to develop a theme (layout/template) of Bootstrap 4 on top of Wallaby. I can write up a document how to do that and hopefully someone can pick it up before I do.

Otherwise, I'm interested in upgrading it to Bootstrap 4 later, just I can't promise a timeline for this :) Since I have other high p

[2018-10-15 12:07] pinkal-bacancy opened #130 "sorting only work once"
Hi, @tian-im
sorting is not properly work
suppose i have column in table `name` and `email` when i first sort name its work fine but after that if i try to sort any other column in table its not working

I want to feature like one column sort at a time

[2018-11-09 06:44] tian-im commented on #130
hey @pinkal-bacancy,

sorry for a late reply.

i've made a note, will see if how i can add the feature in 5.2 and make sorting or sorting implementation configurable.

at the mean while, if you really want that feature, there is a hacky way to do that, but not recommended. it's to replace this helper method [sort_link_builder](https://github.com/reinteractive/wallaby/blob/master/lib/helpers/wallab

[2018-12-10 08:48] pustomytnyk opened #132 "How to improve index rendering performance?"
Rendering the index is quite slow (up to few seconds) because each makes separate `render` call. Maybe we could rewrite it to have some kind of rendering classes that can optionally render a partial?
[code]

[2018-12-14 05:03] tian-im commented on #132
yeah, have to admit that performance in development is really bad, since it's taking advantage of rails partials which is doing runtime partial lookup and erb compilation. i've done a couple of attempts before, but didn't come up with any good solution to improve the performance.

i think `IndexRenderer` is a good idea, just i need to think about a good way that it can be configured and inherited

[2019-10-24 15:57] pustomytnyk opened #157 "Gem dependencies"
I was able to initialize it on Rails 6 with next gems:

[code]
Shouldn't kaminari be added as dependency to gemspec? Also it currently requires wallaby-her.

[2019-11-27 01:41] tian-im commented on #157
Hi @pustomytnyk,

Sorry for the late reply.

Regarding the `kaminari`, it's not required, as pagination can live without it.
About `wallaby-her`, I'm going to remove this dependency as I'm working on supporting Rails 6. I think the change will roughly take around 1 month to finalize. Hopefully, that's not going to stop you from upgrading to Rails 6.

Cheers,

Tian

[2019-11-28 00:12] #130 closed, assigned to nobody

[2019-11-28 00:12] tian-im commented on #130
As the PR gets merged

[2019-11-28 00:13] tian-im commented on #109
I hope no news is good news and am going to close this issue now

[2019-11-28 00:13] #109 closed, assigned to nobody

[2019-11-28 00:14] tian-im commented on #110
Bootstrap 4 is in

[2019-11-28 00:14] #110 closed, assigned to nobody

[2019-11-28 00:15] tian-im commented on #132
close it now as PR gets merged

[2019-11-28 00:15] #132 closed, assigned to nobody

[2019-12-10 08:20] tian-im commented on #157
Hi @pustomytnyk ,

I've made the following dependency changes:

- `kaminari` is required by `wallaby-active_record` instead of `wallaby`. See https://github.com/wallaby-rails/wallaby-active_record/blob/master/wallaby-active_record.gemspec
- `wallaby-her` is no longer required by `wallaby`. See https://github.com/wallaby-rails/wallaby/blob/master/wallaby.gemspec

PS: wallaby 6.0.0 is released, plea

[2019-12-10 08:20] #157 closed, assigned to nobody

[2020-03-10 01:18] ryanb opened #164 "Support Rails 6 in Wallaby 5"
It appears Rails 6 support was added in Wallaby 6, but we currently use Wallaby 5. This makes Wallaby a blocker to upgrading to Rails 6.

Wallaby 6 has a lot of backwards incompatible changes with little documentation on the upgrade process (except for the change log). It also depends on Bootstrap 4 which is incompatible with Bootstrap 3, which is another expensive upgrade.

Would it be difficult

[2020-03-10 23:31] ryanb commented on #164
Closing this since I ended up upgrading to Bootstrap 4 which was the main issue behind upgrading Wallaby. Perhaps something to keep in mind in the next version though.

[2020-03-10 23:31] #164 closed, assigned to nobody

[2020-03-11 17:39] ryanb opened #165 "Uninitialized constant CanCan"
It appears `cancancan` was removed as a gem dependency however `app/security/ability.rb` in `wallaby-core` still references it. This results in the error: `uninitialized constant CanCan (NameError)` when the file is loaded.

You may only see this error when eager loading is enabled in the Rails app environment config.

[2020-03-11 17:55] ryanb opened #166 "I18n locales don't have wallaby namespace"
It appears the locales in wallaby-core `config/locales/wallaby.en.yml` are not scoped under a `wallaby` key. This results in two issues:

* These locales could conflict with other locales in the app.
* If one needs to add these locales in their app (if they don't have `en` locale) it isn't clear it is for Wallaby.

[2020-03-11 18:41] ryanb opened #167 "Conflict with current_user method"
It appears the `current_user` method is being overridden in [Wallaby::SecureController](https://github.com/wallaby-rails/wallaby-core/blob/master/app/controllers/wallaby/secure_controller.rb#L41).

This can conflict with the existing `current_user` method defined in the app. For example, we have `current_user` and `current_admin_user` and we want to use the latter for Wallaby. The issue is the `cu

[2020-03-11 18:50] ryanb opened #168 "Default theme isn't used"
Wallaby appears to be using the layout defined in the main `::ApplicationController` by default. I had to add this to our wallaby `ApplicationController` to get it to use the default theme.

[code]

Shouldn't this theme be used by default and override the layout defined in `::ApplicationController`? It might also be nice to add information on the default them to the [themes docs](https://github.co

[2020-03-11 19:01] ryanb opened #169 "Unable to autoload constant Concerns"
I am seeing a lot of these lines in the development log when making changes to our app and loading a page:

[code]

Where `Importable` is the name of a concern. It does this for every concern module defined in the app.

Also changes made to any wallaby subclass does not seem to take effect. I think it may be related to this.

I haven't had time to dive into this further so perhaps this is an issue

[2020-03-11 20:41] ryanb opened #170 "Unable to run `rails db:create`"
I attempted to run `rails db:create` on the [demo app](https://github.com/tian-im/wallaby_demo) and it failed with the following:

[code]

I believe this is because decorators depend on the database existing before the class will load. Perhaps check if the database exists before attempting to use it.

[2020-03-11 20:53] ryanb commented on #169
I was able to duplicate this problem in the [demo app](https://github.com/tian-im/wallaby_demo). I upgraded it to wallaby 6 and added a concern. When I update some code and reload the page I get:

[code]

Also changes do not take effect until I restart the server on the demo app either.

[2020-03-11 23:01] ryanb opened #171 "Turbolinks config doesn't flush sprockets cache"
The `readyPrefix` function in `setup.js.erb` is dynamically generated depending on the turbolinks config. Unfortunately sprockets seems to cache this file and doesn't flush it until the file contents change. This means toggling the config will not update the asset cache.

Perhaps remove the dynamic generation in favor of detecting Turbolinks through JS.

[2020-03-11 23:06] ryanb opened #172 "Turbolinks config requires `turbolinks.js` be precompiled"
Enabling the turbolinks config causes this error:

[code]

This is because `turbolinks.js` is included as a separate script in the HTML when this config is enabled.

I thinks it's better for turbolinks to be included in `application.js` so it's managed by sprockets and not a separately loaded JS file. Then you could remove this turbolinks config and add documentation for enabling it by overriding

[2020-03-11 23:58] ryanb opened #173 "Unable to have two controllers manage the same resource"
In our app we have an `Account` model with two controllers: `AccountsController` and `ExtendTrialsController`. Both of these controllers use the account model. The `ExtendTrialsController` manages extending the account trial period:

[code]

The problem is the main menu navigation thinks this controller is the main controller for managing accounts and links instead of the `AccountsController`.

[2020-03-12 00:04] ryanb opened #174 "Nested CSS classes are difficult to override"
I find it difficult to customize Wallaby CSS because of the deep nesting. One needs to mimic the nesting in order to add our own CSS.

If CSS is defined in a flat structure then it will be much easier to extend and override.

For example:

[code]

Also only adding CSS to classes instead of direct HTML tags will be good too. For example:

[code]

[2020-03-12 17:40] ryanb opened #175 "Difficulty adding custom form action"
I'm attempting to add an `extend_trial` action to `AccountsController`. I added a route:

[code]

And the controller action which has the same behavior as the edit action:

[code]

And then I copied the edit view to `extend_trial.html.erb` with one field:

[code]

This produced the following error:

[code]

It took some digging to realize there's a `form_metadata_of` method which I assume is the b

[2020-03-12 18:00] ryanb opened #176 "Incompatibility with PaperTrail"
I have a model which `has_paper_trail` using the [paper_trail gem](https://github.com/paper-trail-gem/paper_trail). When visiting the `show` action of this model it attempts to render the internal `has_many :versions` association that PaperTrail sets up and results in this error:

[code]

This is a rather confusing error message. The logs show this:

[code]

Perhaps raise an error on this which is

[2020-03-12 18:03] ryanb opened #177 "Data dropdown menu goes out of view"
When the "Data" dropdown menu has too many items in it, it goes off the bottom of the page and there's no way to scroll down to access the items at the bottom.

[2020-03-12 18:14] ryanb opened #178 "Changing code falls back to ApplicationDecorator"
I'm getting strange behavior after changing code and reloading the page. Sometimes the code changes don't take effect, but other times it loses reference to the custom decorators and templates.

I've been able to duplicate this on the demo app after upgrading to Wallaby 6. Updating a decorator's code and reloading the page seems to cause all decorators to reference `ApplicationDecorator`. Also cus

[2020-03-12 23:48] ryanb opened #179 "Add context to default authorization provider"
The `DefaultAuthorizationProvider.args_from` method returns an empty hash so it doesn't track any args. It would be nice if it passed the `context` so we have access to that in the app's `ApplicationAuthorizer`.

Currently what I'm doing is inheriting from `DefaultAuthorizationProvider` with a custom provider class that tracks the user.

[2020-03-12 23:50] ryanb opened #180 "Nav menu breaks for custom routes"
I have a custom route to add a custom action like this:

[code]

This causes the `Data` menu to disappear when visiting the account pages because it loses reference to `current_engine`.

I tried specifying the `engine_name` in the controller:

[code]

However this causes another error:

[code]

Not certain how to proceed from here.

[2020-03-13 13:04] tian-im commented on #165
See the above fix. I will make a release soon. Will let you know.

[2020-03-13 13:12] tian-im commented on #168
Didn't realize that `::ApplicationController` has defined its own layout and this impacts `Wallaby::ResourcesController`. I'm going to set layout to `wallaby/resources` manually so that it's not going to be impacted.

BTW, the `Wallaby::ApplicationController` and `Wallaby::SecureController` will be gone in the new release, because I want to move the code into a concern `Wallaby::ResourcesConcern`

[2020-03-13 19:52] ryanb commented on #168
Nice, that would remove the need for the base controller config.

[2020-03-14 03:25] tian-im commented on #168
yep, it's in the master now

[2020-03-14 03:34] tian-im commented on #168
You can try to use the GitHub link for `wallaby-core`:

[code]

and point to the `master` branch for now until I get a stable release version if it's ok.

[2020-03-14 03:47] tian-im commented on #176
there is a way to get around this by taking out the versions from the `show_field_names`:

[code]

And at the same time, I will see if I can fix this on Wallaby side or take the versions out from the index field lists.

[2020-03-14 05:30] tian-im commented on #176
But it's weird, Wallaby should be able to recognize and handle `PaperTrail::Version` model. Unless PaperTrail is loaded after Wallaby. Hmmm

[2020-03-14 05:39] tian-im commented on #167
Regarding the `current_user` in Wallaby's controller, it does override the one from `::ApplicationController`, but it will call `super` when it's defined. Therefore, it should work the same as `::ApplicationController`.

And `current_user` in Wallaby acts as a template method that allows a dev to override in `Admin::ApplicationController`. For example, if `current_admin_user` is the one that you w

[2020-03-14 05:41] tian-im commented on #166
Yep, Mikel mentioned that as well. I will take it to a higher priority now.

[2020-03-15 01:57] tian-im commented on #170
Yep, looking into this one.

[2020-03-15 06:53] tian-im commented on #170
Done. It's in the master now

[2020-03-15 22:39] tian-im commented on #166
Done. it's in `wallaby-core` master now

[2020-03-16 17:21] ryanb commented on #167
@tian-im The problem is overriding `current_user` causes it to return a different class instance than the rest of the application. This causes confusion because we don't know which instance it is returning (User or AdminUser).

Let's say we have a `before_filter` on `::ApplicationController` which references `current_user`. This filter will be triggered in both our app and Wallaby so we need to ch

[2020-03-16 17:27] ryanb commented on #176
Paper trail is listed before wallaby in our gemfile but I'm not certain how it handles loading internally.

[2020-03-16 18:11] ryanb commented on #166
@tian-im why isn't `fa` scoped under `wallaby`? Isn't it a locale used by wallaby?

[2020-03-16 23:33] ryanb opened #181 "Error: A copy of ApplicationAuthorizer has been removed but is still active"
I am running specs with spring and after making a change to the code I get this error:

[code]

I think this is related to #178. My guess is the internal mapper needs to be cleared when reloading.

[2020-03-17 03:57] ryanb commented on #166
@tian-im also can you update the `wallaby` repo since that uses locales too.

[2020-03-17 17:18] ryanb opened #182 "Wallaby config classes conflict with autoloading"
I received this deprecation warning after upgrading to Rails 6.

[code]

In my config I have:

[code]

The issue is these classes are in the autoload path and initializers should not reference classes which are autoloaded. This causes issues when the class is reloaded later since it loses reference to it.

I suggest always using strings to configure classes:

[code]

And then only `constantize` th

[2020-03-17 18:06] ryanb commented on #182
My work around at the moment is to wrap the wallaby config in a `to_prepare` block.

[code]

This way the config will trigger again when classes reload.

[2020-03-18 15:44] ryanb opened #183 "Unable to perform "or" search with nil"
It appears searching `nil` in an "or" query does not work. For example: `foo:=nil` returns 1000 records, `foo:=nil,1` returns 0 records. Perhaps `nil` is interpreted as a string when in an "or" clause?

This is using `wallaby-active_record` v0.2.1.

[2020-03-18 22:29] tian-im commented on #176
Do you have the branch that you get this issue? Maybe I can take a look

[2020-03-19 13:20] tian-im commented on #183
@ryanb see this release https://github.com/wallaby-rails/wallaby-active_record/releases/tag/0.2.2

please try to upgrade `wallaby-active_record` to `0.2.2` and let me know if it works for you or not.

[2020-03-19 13:21] tian-im commented on #170
@ryanb see this release https://github.com/wallaby-rails/wallaby-active_record/releases/tag/0.2.2

please try to upgrade `wallaby-active_record` to `0.2.2` and let me know if it works for you or not.

[2020-03-19 13:23] tian-im commented on #166
I was thinking to leave `fa` as it's more like a config rather than locale. but yeah, it seems like there isn't any drawback by putting it under `wallaby` scope as well. will fix it

[2020-03-19 17:39] ryanb commented on #183
@tian-im nice, that fixes the case for `foo:=nil,1` however `foo:!=nil,1` does this query:

[code]

Which returns all records. If we do `foo:!=1,2` it returns all records except 1 and 2. To get that same behavior the `OR` should be an `AND` for `!=` case.

[2020-03-19 17:46] ryanb commented on #166
Thanks. It seems strange to put `fa` under I18n. Do you want it to behave differently for different translations?

[2020-03-19 17:48] ryanb commented on #170
Thanks! I tried it out on the demo app and it works. Closing.

[2020-03-19 17:52] ryanb commented on #176
@tian-im The branch on Envisage is `epic/rails-6`. It is mostly working with the `custom_models` and `models.exclude` configs.

[2020-03-23 13:59] tian-im commented on #165
@ryanb could you upgrade wallaby to 6.1.1 and see if it works for you?

[2020-03-23 13:59] tian-im commented on #166
@ryanb could you upgrade wallaby to 6.1.1 and see if it works for you?

[2020-03-23 13:59] tian-im commented on #168
@ryanb could you upgrade wallaby to 6.1.1 and see if it works for you?

[2020-03-23 14:00] tian-im commented on #183
@ryanb could you upgrade wallaby to 6.1.1 and see if it works for you?

[2020-03-23 14:05] tian-im commented on #167
I see, will rename it to `wallaby_user` (similar to `pundit_user`). Will let you know once it's ready.

[2020-03-24 17:00] ryanb commented on #183
@tian-im that seems to work well, thanks! Closing this.

[2020-03-24 17:00] #183 closed, assigned to nobody

[2020-03-24 17:01] ryanb commented on #168
This is working, thanks! Closing.

[2020-03-24 17:01] #168 closed, assigned to nobody

[2020-03-24 17:02] ryanb commented on #166
This looks good, thanks!

[2020-03-24 17:02] #166 closed, assigned to nobody

[2020-03-24 17:02] ryanb commented on #165
Looks like it works!

[2020-03-24 17:02] #165 closed, assigned to nobody

[2020-03-30 12:08] tian-im commented on #169
I was using constantize to preload all the classes, this doesn't work really well.

There was a problem that I didn't go for `require_dependency`, but I can't remember that now.

Let me switch it back to `require_dependency` and see if it makes things differently.

[2020-03-30 12:10] tian-im commented on #182
Looking into this now. Let me see if I can get a workaround for this.

[2020-03-30 12:11] tian-im commented on #181
I suspect this is related to #182

[2020-04-09 11:27] tian-im commented on #179
Just realized that I've updated the document to use `context`, but it wasn't actually implemented 😭 Now as the PR is merged, I will do a release soon.

[2020-04-09 11:39] tian-im commented on #178
Yeah, I think this is related to incorrect reload. Let's see if the caching String instead of Class in Wallaby::Map fixes this or not.

[2020-04-12 07:27] tian-im commented on #182
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you?

It now allows String configuration on top of Class

[2020-04-12 07:29] tian-im commented on #181
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you? Now all the global methods that store Class have been replaced to store String instead and will be constantized as Class when called.

[2020-04-12 07:40] tian-im commented on #179
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you? the `args_from` has been taken out from the providers, but you should be able to access the `context` from either the authorizer itself or the `provider` attribute. For example:

[code]

[2020-04-12 07:41] tian-im commented on #178
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you?

[2020-04-12 07:42] tian-im commented on #176
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you?

[2020-04-12 07:42] tian-im commented on #169
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you?

[2020-04-12 07:43] tian-im commented on #167
@ryanb could you upgrade wallaby to 6.1.2 and see if it works for you? `wallaby_user` is now used, and I will remove the `current_user` configuration from future version.

[2020-04-15 23:57] ryanb commented on #179
This works, thanks!

[2020-04-15 23:57] #179 closed, assigned to nobody

[2020-04-15 23:57] ryanb commented on #182
Specifying strings works great, thanks!

[2020-04-15 23:57] #182 closed, assigned to nobody

[2020-04-15 23:58] ryanb commented on #178
Yes I believe this is fixed.

[2020-04-15 23:58] #178 closed, assigned to nobody

[2020-04-16 00:00] ryanb commented on #176
Works great, thanks!

[2020-04-16 00:00] #176 closed, assigned to nobody

[2020-04-16 00:07] ryanb commented on #169
Looks like it's working, nice!

[2020-04-16 00:07] #169 closed, assigned to nobody

[2020-04-16 00:18] ryanb opened #186 "Error: primary::SchemaMigration is not a valid Class name."
I see this error in the log when running Wallaby 6.1.2:

[code]

Is it trying to find a model class for every table? Rails manages this table I think.

[2020-04-16 00:22] ryanb commented on #167
@tian-im I'm a bit confused about this one. Since the `current_user` config is deprecated, what is the alternative? It is still mentioned in the docs here: https://github.com/wallaby-rails/wallaby/blob/master/docs/configuration.md#authenticate

I tried overriding `wallaby_user` method in the controller which seems to work but I still see this in the logs:

[code]

Any idea how to remove these depr

[2020-04-16 00:35] tian-im commented on #167
@ryanb I think you have to override both `wallaby_user` and `authenticate_wallaby_user!` method at the same time to get rid of the warnings. let me update the document later on.

[2020-04-16 00:39] ryanb opened #187 "Support Webpack"
We are moving all our app assets to Webpack(er) which means we only need Sprockets for Wallaby. It would be nice if Wallaby did not depend on Sprockets to reduce our app dependencies.

What about creating a node module for wallaby that we can require into our project which would include the JS dependencies and assets. Then add a config option for using webpack instead of sprockets.

Maybe move the

[2020-04-16 00:55] tian-im commented on #186
Yeah, I saw this error as well. It should be a fake class that comes from Rails test, but I'm not sure how it gets into the environment.

The reason it shows up is that Wallaby will go through every ActiveRecord class and associate it with a mode so that Wallaby knows how to handle it when building the Wallaby::Map.

But yeah, I think it's safe to ignore it until Rails team fixes it.

[2020-04-16 01:00] tian-im commented on #187
I'm not sure if Webpack is supported for a Rails engine, not from what I can see in Rails 5. But yeah, I can take a look and see if it can be done.

[2020-04-16 05:58] tian-im commented on #167
Because the authentication is still using devise's `authenticated` method which is still calling the `current_user` method.

[2020-04-16 15:03] ryanb commented on #186
Is there an active issue for this on the Rails repo? The closest thing I could find is this issue: https://github.com/rails/rails/issues/36757

However this doesn't look like something they plan to fix. Can you add an exception in Wallaby to ignore that class name?

[2020-04-16 16:16] ryanb commented on #187
From my understanding there's no way to add node dependencies through a gem so you can't use it through an engine the same way sprockets is used. You can still do it, but the the node dependency needs to be added separately.

For example, let's say you have a `wallaby-webpacker` gem which is designed to work with webpacker instead of sprockets. To install it you'd do:

[code]

Then they need to ge

[2020-04-16 16:35] ryanb commented on #167
Overriding `authenticate_wallaby_user!` got rid of the last two deprecation warnings, but the first two are still showing up. I think because we have some filters in `::ApplicationController` which call `current_user` not wanting the admin user but the normal user.

Since there's no way to distinguish between these legitimate calls and the incorrect calls, I'll just ignore those deprecation warnin

[2020-04-16 16:35] #167 closed, assigned to nobody

[2020-04-16 17:10] ryanb commented on #170
I think this issue is back again with the 6.1.2. I'm getting this stack trace when running `rake db:setup`

[code]

Looks like Wallaby is loading the decorators before the tables exist which causes this error.

[2020-04-16 17:47] ryanb commented on #167
I ended up doing this in the admin application controller:

[code]

This removes all deprecation warnings and has the behavior I want.

[2020-04-18 06:23] tian-im commented on #170
I think this is caused by the this line:

[code]

and `self.index_fields[:referrer_account]` is nil when database is not there.

But it seems like this line is there for a while, how come it wasn't complaining in the latest version. Will fix it by making `self.index_fields[:referrer_account]` to return an empty hash

[2020-04-19 00:53] tian-im commented on #186
Sure thing

[2020-04-19 03:04] tian-im commented on #186
@ryanb could you update to wallaby 6.1.3 and see if it is ok for you?

[2020-04-19 03:04] tian-im commented on #170
@ryanb could you update to wallaby 6.1.3 and see if it is ok for you?

[2020-04-20 11:25] tian-im commented on #187
Yeah, I totally understand why everyone wants it these days. Let me do some experiments and see.

[2020-04-20 17:01] ryanb commented on #170
@tian-im looks like this is working, thanks!

[2020-04-20 17:13] ryanb commented on #181
Looks good, thanks!

[2020-04-20 17:13] #181 closed, assigned to nobody

[2020-04-20 17:13] ryanb commented on #186
Fixed, thanks!

[2020-04-20 17:13] #186 closed, assigned to nobody

[2020-04-21 14:56] ryanb opened #189 "Conflict with closure_tree"
I'm seeing this in our development log:

[code]

It appears Wallaby is loading these classes which closure_tree doesn't expect. I tried adding the classes to Wallaby's `exclude` config but I still see these warnings. Can you make it so excluding models makes it so Wallaby doesn't attempt to require them?

[2020-04-21 15:10] ryanb opened #190 "Reloading slow in development"
I did some quick benchmarking and found that adding Wallaby to our app adds over 1 second to code reloading time in development.

After changing the code and reloading the page it takes 2.6 second to finish loading a given page with Wallaby and 1.4 seconds if Wallaby is removed from the project. This is when reloading a page unrelated to the admin pages.

My guess is because Wallaby is force-reloa

[2020-04-22 00:47] tian-im commented on #190
Hi @ryanb, the way how Wallaby works is it goes through all the `eager_load_paths` (which is all the folders under `/app` folder) and use `require_dependency` (which is the Rails way to require/load a file) to require all files, then Wallaby can build up a map of how things are associated, for example, which decorator to use for `User` model, especially when the associated decorator is under a nam

[2020-04-22 01:34] tian-im commented on #189
Let me double-check if any Class is still stored in `Wallaby::Map`. Is this issue for envisage?

[2020-04-22 05:13] ryanb commented on #189
Yeah, this is for Envisage. The develop branch.

[2020-04-22 05:23] ryanb commented on #190
The performance issues which effect every page is a bummer, and I don’t know how you would optimize this except for reducing the amount of eager loading.

Is there any way you can have the code reloading only trigger when visiting a page within the engine? I don’t see why it needs to eager load everything if we aren’t using any part of Wallaby in the request.

[2020-04-22 05:25] ryanb commented on #189
Does wallaby attempt to load classes based on database tables? This may be the issue if so.

[2020-04-22 05:32] tian-im commented on #189
Nope, Wallaby only loads the files under `eager_load_paths` which is the `/app` folder, it doesn't read the database tables.

Sure, I will take a look.

[2020-04-22 05:39] tian-im commented on #190
I think the calculation is done only once on every reload and all information will be then stored in the `Wallaby::Map`. Therefore, there shouldn't be any classes loading after the first page load.

But Wallaby does require quite a few assets from different gems, not sure if compiling the assets contribute to the slowness (which I guess it does). Maybe to reduce the assets should be the direction?

[2020-04-22 16:20] ryanb commented on #190
When there is a change made to the code Wallaby reloads everything, correct? This is the only case where there's a difference in the page loading with/without Wallaby.

I think Sprockets caches this and only recompiles these assets when other assets change. I wasn't changing assets so I don't think this is the issue.

[2020-04-22 23:52] tian-im commented on #190
Hmmm, let me see how I can optimize this process. Maybe just reload the files that Wallaby interests? or just the files that are changed? Let me do some experiments.

[2020-04-23 00:07] ryanb commented on #190
@tian-im is it possible for Wallaby to only do its reloading for wallaby related requests? That would be ideal if we can't avoid the custom reloading.

[2020-04-23 02:13] tian-im commented on #190
Yeah, that's also a good idea. Let me do some experiments.

[2020-04-23 15:06] tian-im commented on #189
@ryanb I can confirm that this is an issue of `closure_tree`, not `wallaby`.

I've tried to taken wallaby out completely from the `Gemfile`, `config/routes.rb`, `config/initializers/wallaby.rb`, and if I made any changes to `Objective` model and visited `GET "/objectives"`, when Rails reloaded, this warning came up. And if you take a look into the list of constants that Rails maintains by using:

[2020-04-24 15:44] ryanb commented on #189
@tian-im oops, sorry about that. I tried removing wallaby as well and was not able to duplicate the warning. I'll close this ticket.

Thanks for taking the time to look into this.

[2020-04-24 15:44] #189 closed, assigned to nobody

[2020-04-24 23:28] tian-im commented on #189
No worries :)

[2020-04-27 15:38] ryanb commented on #189
FYI, I posted an issue here on closure_tree: https://github.com/ClosureTree/closure_tree/issues/362

[2020-04-27 23:46] tian-im commented on #189
👌

[2020-05-15 07:47] vittorius opened #191 "Demo website sign in is not working"
Hey there!

Demo website sign-in is not working - redirecting to the same sign-in page:

![screencast 2020-05-15 10-44-45](https://user-images.githubusercontent.com/3304167/82025057-6fea2500-9699-11ea-8705-46be1576df8f.gif)

[2020-05-19 12:44] tian-im commented on #191
Hi @vittorius, I'm checking it, thanks for letting me know :)

[2020-05-19 12:46] tian-im commented on #191
@vittorius which browser are you using to open the demo website?

[2020-05-19 12:48] vittorius commented on #191
Chrome 81.0.4044.138 (Official Build) (64-bit) on MacOS Catalina 10.15.4.

[2020-05-19 12:53] tian-im commented on #191
Hmmm, same version. @vittorius could you try to use incognito mode to open it? It works fine for me.

Otherwise, is it possible to show me the network logs from the chrome inspector and see if any redirect is cached (e.g. network status is 3xx)?

[2020-05-19 12:59] vittorius commented on #191
Incognito mode:
- status is `200 OK`
- [`sign_in` response](https://monosnap.com/file/xMcG6sl6IQKFYW4XXraBoJMzpmsPq1)
- request details [part 1](https://monosnap.com/file/9k5nLKWcyWeWz5kKnyH6ggItdnsb1x), [part 2](https://monosnap.com/file/kOaI3PSW5VpDKVUHB4LutTC3JAXhu2)
- the same picture persists no matter how many times you retry the sign-in

[2020-05-19 13:05] tian-im commented on #191
Ha, I think I know what's going on. Will do a fix soon!

[2020-05-19 13:05] tian-im commented on #191
thanks @vittorius

[2020-05-20 00:49] tian-im commented on #191
It should be working fine now @vittorius

Let me know if it's working for you.

Cheers!

[2020-05-20 12:16] tian-im commented on #171
Yeah, the configuration is deprecated and it's detecting Turbolinks through JS instead.

[2020-05-20 12:34] tian-im commented on #172
Yeah, that's one way to do it. And I'm thinking to use a different way, for example:

[code]

Then once turbolinks is added to precompile assets, Wallaby will include it as well.

[2020-05-21 12:57] tian-im commented on #172
But yeah, maybe leave it to the user is the right way to go.

[2020-05-22 09:50] vittorius commented on #191
Yay! It works, thanks for the rapid reaction.

[2020-05-22 09:50] #191 closed, assigned to nobody

[2020-05-24 00:37] tian-im commented on #191
no worries

[2020-05-24 07:30] tian-im commented on #177
Yep, will give it a max height and set it to auto scroll.

[2020-05-24 08:25] tian-im commented on #174
Yeah, that was the ideal structure. Need to spend some time to get it there now. Thanks for bringing this up!

[2020-06-03 12:05] tian-im opened #197 "Preload `ActiveRecord::SchemaMigration` before ActiveRecord mode starts finding all models"
So that `ActiveRecord::SchemaMigration` can be either added or configured to the model list.

You can confirm its existence by checking the `Wallaby::Map.mode_map`

[2020-06-03 12:06] tian-im opened #198 "Support ActionText"

[2020-08-02 12:07] tian-im commented on #198
similar to how active_storage is detected, see https://github.com/wallaby-rails/wallaby-active_record/blob/master/lib/adapters/wallaby/active_record/model_decorator/fields_builder.rb#L45

[2020-09-08 04:09] leomao10 commented on #187
This is some extra information about how to include assets in engines:
https://github.com/rails/webpacker/blob/master/docs/engines.md

[2020-09-23 05:24] tian-im commented on #187
@leomao10 try this: https://github.com/rails/webpacker/issues/348#issuecomment-635480949

[2022-01-27 19:34] ryanb opened #201 "Specify Bootstrap v4"
Is Wallaby compatible with Bootstrap 5? I got this error after running `bundle update wallaby-view`.

[code]

I assume this is because the `bootstrap` gem updated to v5 when I updated wallaby. You might want to constrain wallaby to  bootstrap v4.

cc @tian-im

[2022-01-27 20:26] ryanb opened #202 "Singleton can't be dumped error in Rails 7.0.1"
Upgrading from Rails 7.0.0 to Rails 7.0.1 caused this error when I visit a wallaby resource index page.

[code]

I'm uncertain yet if this is specific to my app or if it's an issue in Wallaby.

cc @tian-im

[2022-01-27 21:37] tian-im commented on #202
Hi @ryanb, Do you have the full error stack? Did you run into this error on every wallaby resource index page or just specific page?

[2022-01-27 21:41] tian-im commented on #201
Sure thing!

[2022-01-28 00:14] ryanb commented on #202
@tian-im here you go. I think it happens on every resource index page.

[code]

[2022-01-28 00:27] ryanb commented on #202
@tian-im looks like it happens when cloning params. Is there a reason you don't use `deep_dup`?

[2022-01-28 06:12] tian-im commented on #202
@ryanb Yeah, there was a reason, the `deep_dup` method wasn't able to deep clone a hash object that contains ActiveRecord class, the class object becomes nil after deep dupped. And the class object is needed by Wallaby. Not sure if Rails has fixed it or not. I can change back to use `deep_dup` and see if it breaks the tests or not.

[2022-02-01 17:30] ryanb commented on #202
@tian-im any update on this? It's blocking upgrading to Rails 7.0.1 at the moment.

[2022-02-01 22:11] tian-im commented on #202
@ryanb sorry for the late reply. I've done the work [here](https://github.com/wallaby-rails/wallaby-core/pull/55) to move to use Github Actions for the CI build, and it seems like the `deep_dup` is working fine. There are a lot of changes on the main branch which I'm not planning to do a release now, but I will do a patch release so that you can continue with your upgrade.

Will keep you posted.

[2022-02-01 22:13] ryanb commented on #202
Thanks Tian!

[2022-02-02 10:54] tian-im commented on #202
@ryanb wallaby-core 0.2.3 is out, could you give it a try and see if it works for you?

see https://github.com/wallaby-rails/wallaby-core/releases/tag/0.2.3

[2022-02-02 17:32] ryanb commented on #202
@tian-im I'm unable to upgrade because [wallaby-active_record](https://rubygems.org/gems/wallaby-active_record) depends on wallaby-core 0.2.2. Perhaps loosen that dependency so it doesn't care about the patch version?

[2022-02-02 21:40] tian-im commented on #202
@ryanb done, changed to use `wallaby-core ~> 0.2.3`. Could you give it a go?

[2022-02-03 00:36] ryanb commented on #202
@tian-im now there's a similar issue with `wallaby` gem depending on `wallaby-active_record = 0.2.6`. Perhaps loosen that dependency too?

[2022-02-03 00:38] tian-im commented on #202
😭  I should have loosened it

[2022-02-03 02:01] tian-im commented on #202
@ryanb done, changed to use `wallaby-active_record ~> 0.2.7`. Could you give it a go?

[2022-02-03 18:23] ryanb commented on #202
@tian-im that seemed to have resolved the singleton error. Seeing another one though.

[code]

Let me know if you want me to post this in a separate issue.

I also see some missing translations. Not sure why Rails 7.0.1 isn't picking up all the locale files.

Are you able to get Wallaby running in Rails 7.0.1?

[2022-02-04 00:43] tian-im commented on #202
I haven't tried that. Let me spend some time this weekend to make sure it works in Rails 7.0.1.

[2022-02-04 01:41] ryanb opened #203 "Missing translation in 6.1.4"
I'm seeing a missing translation error since upgrading Wallaby from 6.1.3 to 6.1.4 (on Rails 6.1.4)

[code]

Any ideas?

[2022-02-06 12:20] tian-im commented on #202
@ryanb yeah, using `deep_dup` isn't a proper solution either. I've fixed it in `wallaby-core` `0.2.4` and tested it with Rails 7.0.1, it works fine for me. Let me know if you get it working for you.

[2022-02-06 12:37] tian-im commented on #203
@ryanb `wallaby` only has translation in `en`, it looks like your current locale is `en-US`, therefore, you might want to set the locale fallbacks like this so that it can pick up the `en` translation:

[code]

[2022-02-07 19:26] ryanb commented on #187
Since Webpacker is retired, I suggest not doing what I recommended above. I'm closing this issue.

[2022-02-07 19:26] #187 closed, assigned to leomao10

[2022-02-07 19:28] ryanb commented on #202
I think this is resolved now, thanks Tian. I'm having trouble running the spec on Travis CI but I think that's a separate issue.

[2022-02-07 19:28] #202 closed, assigned to nobody

[2022-02-07 19:29] ryanb commented on #203
It's strange that this issue didn't show up until I upgraded to wallaby-core 0.2.3. What's even stranger is upgrading to wallaby-core 0.2.4 seems to have fixed this issue. Not sure why since the changes appear unrelated to i18n. Oh well, at least it's working, closing!

[2022-02-07 19:29] #203 closed, assigned to nobody

[2022-02-22 22:37] ryanb commented on #201
@tian-im any update on this one?

[2022-02-24 13:13] tian-im commented on #201
@ryanb, Sorry for the late update. I've completely forgot this one :p

New version is release to lock bootstrap at `~> 4.6`.

Could you take a look and see if it works for you?

[2022-02-24 21:36] ryanb commented on #170
@tian-im this issue is back in Wallaby 6.1.5. I'm seeing `NoMethodError: undefined method `[]=' for nil:NilClass` on line 5.

[code]

Any ideas? Can we move this setting outside the class loading so it allows creating the database?

[2022-02-24 21:37] ryanb commented on #201
@tian-im I think this is resolved, but I'm seeing #170 again. Commented there.

[2022-02-24 21:37] #201 closed, assigned to nobody

[2022-02-28 09:33] tian-im commented on #170
@ryanb I think the root cause is related to the previous clone, Hash's [`default` value](https://ruby-doc.org/core-2.7.2/Hash.html#default-method) is not cloned using the new way. Will fix this now.

[2022-02-28 10:41] tian-im commented on #170
@ryanb I've published the fix in `wallaby-core(0.2.5)`, could you do an update and see if it is fixed?

[2022-03-09 05:38] tian-im commented on #170
@ryanb does the latest release work for you? Let me know if it doesn't. I will take another look

[2022-03-09 17:45] ryanb commented on #170
@tian-im I believe that fixed it, thanks Tian!

[2022-03-09 17:49] ryanb commented on #170
@tian-im sorry, false alarm. Travis CI is showing the same error with wallaby-core 0.2.5.

[2022-03-10 01:13] tian-im commented on #170
@ryanb do you have the error stack trace if possible?

[2022-03-10 01:31] ryanb commented on #170
@tian-im here it is.

[code]

[2022-03-11 21:30] tian-im commented on #170
@ryanb thanks, will look into it this weekend

[2022-03-11 22:04] ryanb commented on #170
@tian-im I wouldn't spend too much time on it if it's challenging to fix. I just commented out that setting for now and everything is working. Might be nice to restore but it's just a label setting so not critical.

[2022-03-13 07:49] tian-im commented on #170
@ryanb it's alright, I have not much to do in weekend anyway XD. Could you update the `wallaby-core` to `0.2.6` and see if it works for you?

[2022-03-14 17:21] ryanb commented on #170
@tian-im that seems to have fixed it, thanks!

[2022-03-14 17:21] #170 closed, assigned to nobody

[2022-05-09 21:04] ryanb opened #204 "Object is not decorated error in Rails 7.0.3"
I'm seeing this error when rendering a custom form action since upgrading to Rails 7.0.3. It works in Rails 7.0.2.4.

[code]

I'm uncertain why it says object is not decorated when it has `decorated = decorate resource` at the top of the template. Any ideas? Have you noticed this error in the latest version of Rails?

[2022-05-09 21:05] ryanb commented on #204
@tian-im ping in case you don't get notified of new issues. :)

[2022-05-10 10:56] tian-im commented on #204
yeah, please @ me. looking into that.

[2022-05-10 11:49] tian-im commented on #204
it seems like 7.0.3 has introduced this change to convert object to model

https://github.com/rails/rails/compare/v7.0.2.4..7-0-stable#diff-44b94eca66c7497711821a8e6bcdfde4684bb7b8efa15e64da6532449f03ef0bR441

I'm going to do a fix and release it soon. Will keep you posted.

[2022-05-10 12:52] tian-im commented on #204
@ryanb wallaby-core 0.2.7 is released, could you take a look and see if it works for you?

[2022-05-10 18:51] ryanb commented on #204
@tian-im it works, thanks!

[2022-05-10 18:51] #204 closed, assigned to nobody